* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 15px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav div {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ddd;
}

section {
    padding: 50px;
    margin: 20px auto;
    max-width: 1200px;
}

#home {
    display: flex;
    align-items: center;
}

#home img {
    border-radius: 50%;
    box-shadow: 10px 5px 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 40px;
}

#home div {
    flex: 1;
}

#home div h2 {
    font-size: 36px;
    color: #4CAF50;
}

#home div p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.8;
}

h2 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#skills ul, #education ul, #projects ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

#skills ul li, #education ul li, #projects ul li {
    flex: 1 1 200px;
    background: white;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items:center;
}

#projects ul li a{
    text-decoration: none;
    color: black;
}

#projects ul li a:hover{
    color: green;
}

.icon {
    margin-right: 18px;
    font-size: 24px;
}

#contact form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

#contact form input, #contact form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

footer a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}   

footer a:hover {
    color: #4CAF50;
}

footer i {
    font-size: 24px;
}